<div class="row mt-5">
  <div class="col-md-6 m-auto" style="max-width: 500px;">
    <div class="card card-body">
      <h1 class="mb-3 text-center">
        <img src="/images/login-icon.png" alt="icon" width="20%" />
      </h1>
      <h2>
        Register New User
      </h2>
      <%- include('./messages.ejs') %>
      <form action="/auth/register" method="POST">
        <div class="form-group mb-2">
          <label for="name">Name</label>
          <input type="name" required  id="name" name="name" class="form-control" placeholder="Enter Name"
            value="<%= typeof name != 'undefined' ? name : '' %>" />
        </div>
        <div class="form-group mb-2">
          <label for="email">Email</label>
          <input type="email" required  id="email" name="email" class="form-control" placeholder="Enter Email"
            value="<%= typeof email != 'undefined' ? email : '' %>" />
        </div>
        <div class="form-group mb-2">
          <label for="password">Password</label>
          <input type="password" required id="password" name="password" class="form-control" placeholder="Enter Password"
            value="<%= typeof password != 'undefined' ? password : '' %>" />
        </div>
        <div class="form-group mb-2">
          <label for="password2">Confirm Password</label>
          <input type="password" required  id="password2" name="password2" class="form-control" placeholder="Confirm Password"
            value="<%= typeof password2 != 'undefined' ? password2 : '' %>" />
        </div>
        <button type="submit" class="btn btn-primary btn-block mb-2">
          Register
        </button>
      </form>
      <p class="mt-4">Already have an account? <a href="/auth/login">Login</a></p>
      <p class="mt-4">
        <a href="/auth/google">Google Sign In</a>
      </p>
    </div>
  </div>
</div>